/* General */
html,
* {
  font-size: 20px;
  padding: 0rem;
  margin: 0rem;
  scroll-behavior: smooth;
  font-family: Tahoma, Verdana, sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  background: url(ressources/background1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: fit-content;
  overflow-x: hidden;
}
/* Navbar */
.navbar {
  z-index: 70;
  height: 7rem;
  position: sticky;
  top: 0rem;
  background-color: #1c1c1c;
  box-shadow: 0rem 1rem 3rem #1c1c1c;
}

.left {
  width: fit-content;
  float: left;
  /* background-color: red; */
  height: 100%;
  padding-right: 1rem;
}

.logo {
  position: relative;
  /*background-color: violet; */
  width: fit-content;
  float: left;
  height: 100%;
  box-sizing: border-box;
  padding: 0.5rem 0.5rem 0.7rem 0.5rem;
}
img {
  display: block;
  position: relative;
  border-radius: 100%;
  max-width: 100%;
  max-height: 100%;
  box-shadow: #000000 0rem 0rem 1rem;
}
.name {
  position: relative;
  /* background-color: green;*/
  width: fit-content;
  float: right;
  height: 100%;
  padding-left: 1rem;
  text-align: center;
  line-height: 7rem;
  color: #6874e8;
  font-size: 2rem;
  font-weight: bold;
}
.right {
  width: fit-content;
  min-width: 20%;
  height: 100%;
  max-height: 7rem;
  box-sizing: border-box;
  float: right;
  /* background-color: blue; */
  text-align: center;
  line-height: 7rem;
  margin-right: 5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.button {
  float: right;
  display: block;
  max-width: 100%;
  max-height: 100%;
  color: #6874e8;
  font-weight: bold;
  background-color: rgba(176, 176, 176, 0.2);
  border-radius: 7rem;
  height: fit-content;
  line-height: 5rem;
  font-size: 1.5rem;
  width: fit-content;
  height: fit-content;
  box-sizing: border-box;
  padding: 0rem 2rem 0rem 2rem;
  box-shadow: #000000 0rem 0rem 1.2rem;
}
.navigate {
  z-index: 20;
  position: absolute;
  top: 7rem;
  background-color: rgba(27, 27, 27, 0.95);
  box-sizing: border-box;
  padding: 0rem 2.5rem 0rem 2.5rem;
  width: fit-content;
  height: fit-content;
  transition: right ease 0.7s;
  right: -100%;
  border-bottom-left-radius: 3rem;
  text-align: center;
}
#middle {
  padding: 0rem 1.8rem 0rem 1.8rem;
}
.navigate > ul {
  height: fit-content;
  width: 100%;
  text-align: center;
}
.right:hover > .navigate {
  right: 0rem;
}
.navigate > ul > li {
  display: inline-block;
  height: 2rem;
}
.navigate > ul > li > a {
  text-align: center;
  color: #6874e8;
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.2rem;
}

/* Header titre du haut */
header {
  background-color: #1c1c1c;
  height: fit-content;
  box-sizing: border-box;
  padding: 13% 8% 8% 8%;
  text-align: center;
  box-shadow: 0rem 0rem 5rem 6rem #1c1c1c;
  margin-bottom: 12rem;
}
header > b {
  position: relative;
  font-size: 5rem;
  color: #e8f0ff;
  line-height: 150%;
  background-color: none;
  padding-top: 1rem;
}

header > b > span {
  position: relative;
  font-size: 5rem;
  color: #e8f0ff;
  line-height: 150%;
  background-color: none;
  padding-top: 1rem;
}

header > b > p {
  transition: ease 1s padding, ease 1s font-size;
  font-size: 6rem;
  color: #6874e8;
  padding-top: 1rem;
  text-shadow: 0rem 0rem 1rem #000000, 0rem 0rem 4rem rgba(176, 176, 176, 0.5);
}

header > b > p:hover {
  padding-top: 6rem;
  padding-bottom: 5rem;
  font-size: 7rem;
}

/* Presentation et parcours */

.PresentationParcours {
  height: fit-content;
  box-sizing: border-box;
  padding: 3rem 3rem 6rem 3rem;
  background-color: #1c1c1c;
  box-shadow: 0.6rem 0.6rem 1rem rgba(176, 176, 176, 0.5);
}

.PresentationParcours > .presentation {
  box-sizing: border-box;
  padding: 1rem;
  font-size: 3rem;
  color: #e8f0ff;
}
.PresentationParcours > .parcour {
  box-sizing: border-box;
  padding: 1rem;
  font-size: 3rem;
  color: #e8f0ff;
}
.title1 {
  font-size: 3.1rem;
  background-color: none;
  color: #6874e8;
  text-align: left;
  height: 30%;
  text-shadow: 0rem 0rem 0.3rem #000000,
    0rem 0rem 3.4rem rgba(176, 176, 176, 0.5);
}
.texte1 {
  transition: font-size 0.3s ease-in;
  padding-top: 2rem;
  padding-left: 3rem;
  background-color: none;
  font-size: 1.8rem;
  height: 70%;
  text-indent: 3rem;
}

/* Competences */
.Competences {
  padding: 12% 10% 10% 10%;
  height: fit-content;
}
.Competences > .cadre {
  transition: border-radius 0.6s;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  aspect-ratio: 1/1;
  color: #e8f0ff;
  font-size: 2rem;
  background-color: #1c1c1c;
  box-sizing: border-box;
  padding: 8rem 5rem 5rem 5rem;
  box-shadow: 0.6rem 0.6rem 1rem rgba(176, 176, 176, 0.5);
  border-radius: 2rem;
}

.Competences > .cadre > ul {
  padding: 3rem 0rem 3rem 3rem;
}

.Competences > .cadre > ul > li {
  padding-top: 2.3rem;
  font-size: 2rem;
}

.Competences > .cadre > ul > li > .maitriser {
  font-size: 1.8rem;
  color: lightgreen;
}

.Competences > .cadre > ul > li > .apprentissage {
  font-size: 1.8rem;
  color: lightcoral;
}

.Competences > .cadre:hover {
  border-radius: 10rem;
}

/* Footer */
b {
  font-size: 1.8rem;
}
footer {
  box-sizing: border-box;
  padding: 1rem;
  margin-top: 3rem;
  height: fit-content;
  min-height: 30rem;
  background-color: #1c1c1c;
  text-align: center;
  top: 0rem 0.2rem 3rem rgba(176, 176, 176, 0.5);
}
.title {
  text-align: center;
  font-weight: bold;
  font-size: 2.8rem;
  background-color: none;
  color: #6874e8;
  height: 30%;
  text-shadow: 0rem 0rem 0.3rem #000000,
    0rem 0rem 3.4rem rgba(176, 176, 176, 0.5);
}

footer > .projets {
  box-sizing: border-box;
  padding: 1rem;
  display: inline-block;
  width: 50%;
  background-color: none;
}

footer > .contacts {
  box-sizing: border-box;
  padding: 1rem;
  float: right;
  width: 50%;
  background-color: none;
}

.footertexte {
  margin-top: 1.3rem;
  font-size: 1rem;
  box-sizing: border-box;
  padding: 0.5rem;
  color: #e8f0ff;
  text-align: center;
}
.footertexte > ul {
  padding-left: 2rem;
  margin-bottom: 1rem;
}
.footertexte > ul > .test {
  font-size: 1.5rem;
  margin-top: 2rem;
}
.footertexte > ul > li {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}
.footertexte > ul > .test {
  font-size: 1.5rem;
}
.footertexte > ul > li > a {
  color: #e8f0ff;
  font-size: 1.5rem;
}

.footertexte > ul > li > a:hover {
  text-decoration: underline;
}
